{% extends 'base.html'%}

{%block content %}

<!-- 手动使用CSS控制样式 -->
<style type="text/css">
    .textmargin{
        margin-right: 25px;
    }
    .table_con table {
        table-layout:fixed;
    }
    .inputWidth{
        width:40px;
    }


</style>

<body>
    <div class="table_con">

    <table border="1" align="center" class="table">
        
        <thead class="thead-dark" align="center">
            <tr>
                <th  width="125" align="center" valign="middle">#databaseId</th>
                <th  width="250" align="center" valign="middle">公司名称</th>
                <th  width="200" align="center" valign="middle">新闻日期</th>
                <th  width="600" align="center" valign="middle">公司新闻</th>
            </tr>
        </thead>

        {% for item in companyInfoObjs %}
        <tr>
            <td  width="125" align="center" valign="middle">{{ item.id }}</td>
            <td  width="250" align="center" valign="middle">{{ item.companyName }}</td>
            <td  width="200" align="center" valign="middle">{{ item.time }}</td>
            <td  width="600">{{ item.companyNews }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

        <nav>
            
            <ul class="pagination justify-content-center">
                
                <table>   
                <tr>
                    


                {% if companyInfoObjs.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="/company?page_id={{companyInfoObjs.previous_page_number}}">上一页</a>
                    </li>
                {% endif %}
        
                {% if left_has_more %}
                    <li class="page-item">
                        <a class="page-link" href="/company?page_id=1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);">...</a>
                    </li>
                {% endif %}
        
                {% for page in left_page_range %}
                    <li class="page-item">
                        <a class="page-link" href="/company?page_id={{page}}">{{ page }}</a>
                    </li>
                {% endfor %}
        
                <li class="page-item active">
                    <a class="page-link" href="javascript: void(0);">{{ companyInfoObjs.number }}</a>
                </li>
        
                {% for page in right_page_range %}
                    <li class="page-item">
                        <a class="page-link" href="/company?page_id={{page}}">{{ page }}</a>
                    </li>
                {% endfor %}
        
                {% if right_has_more %}
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/company?page_id={{page.num_pages}}">{{ page.num_pages }}</a>
                    </li>
                {% endif %}
        
                {% if companyInfoObjs.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="/company?page_id={{companyInfoObjs.next_page_number}}">下一页</a>
                    </li>
                {% endif %}   
                


                <th >
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">第</span>    
                    </div>
        
                    <input type="text" placeholder="1" class="inputWidth" oninput="value=value.replace(/[^\d]/g,'')">
        
                    <div class="input-group-append">
                    <span class="input-group-text">页</span>
                    </div>    
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">前往</button>
                </div>
                </th>

                <td>
                <p class="textmargin">
                    共{{sumLen}}条公司信息           
                </p>

            </td>

                </tr>
                </table>
            </ul>
            
        </nav>

        


</body>

{% endblock %}