{% extends 'base.html'%}

{%block content %}

    <style type="text/css">
        .pmargin {
            width: 350px; 
            height: 140px; 
            overflow: hidden; 
            text-overflow:ellipsis; 
            display: -webkit-box; 
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 6;
            text-align:justify!important;
        }
        .hmargin{
            max-width: 350px; 
            overflow: hidden; 
            text-overflow:ellipsis; 
            display: -webkit-box; 
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 1;
        }
    </style>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">财经类数据分析平台</h1>
            <p>财经类数据分析平台旨在使用自然语言处理（NLP）相关技术，以公司、机构为维度进行公司相关新闻的数据查询、分析。</p>
            <p><a class="btn btn-primary btn-lg" href="{%url 'company'%}" role="button">机构信息概览 &raquo;</a></p>
        </div>
    </div>


    <div class="container">
    <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
            <h5 class="hmargin">{{ first.companyName }}</h5>
            <p>{{first.time}}</p>
            <p class="pmargin">{{first.companyNews}}</p>
            <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
            </div>
            <div class="col-md-4">
            <h5 class="hmargin">{{ second.companyName }}</h5>
            <p>{{second.time}}</p>
            <p class="pmargin">{{second.companyNews}}</p>
            <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h5 class="hmargin">{{ third.companyName }}</h5>
                <p>{{third.time}}</p>
                <p class="pmargin">{{third.companyNews}}</p>
            <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
            </div>
        </div>
    <hr>
    </div> <!-- /container -->

    <!-- 页面底部的footer text，目前只设置在home界面展示-->
    <footer class="container">
        <p>&copy; copyright 2020</p>
    </footer>
{% endblock %}